html{

    background-color: black;
}

body {
    background-color: gray;
    color:white;
    font-family: "Poppins", serif;

    height: 100svh;
    width: 100vw;
    max-width: 600px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex-grow: 1;
}

header {
    width: 24rem;
    background-color: brown;
    padding: 2rem 4rem;
    display: flex;
    justify-content: center;
}