html {
	background-color: black;
	height: 100%; /* width: 100%; */
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	background-color: gray;
	color: white;
	font-family: "Poppins", serif;

	height: 100%;
	overflow: auto;

	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	flex-grow: 1;
}

header {
	box-sizing: border-box;
	max-width: 100%;
	background-color: brown;
	padding: 2rem 4rem;
	display: flex;
	width: 100%;
	justify-content: center;
}

.button-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	margin: 1rem;
}

footer {
	text-decoration: none;
	color: white;
	opacity: 80;
}

/* Button */

button {
	background-color: #4f46e5; /* Indigo */
	color: #fff;
	border: none;
	border-radius: 12px;
	padding: 0.75em 1.5em;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	box-shadow: 0 6px 16px rgba(79, 70, 229, 0.3);
	transition: all 0.2s ease-in-out;
	touch-action: manipulation;
	outline: none;
}

button:hover {
	background-color: #4338ca; /* darker indigo */
	box-shadow: 0 8px 20px rgba(67, 56, 202, 0.4);
	transform: translateY(-2px);
}

button:active {
	background-color: #3730a3;
	box-shadow: 0 4px 12px rgba(55, 48, 163, 0.4);
	transform: translateY(1px);
}

button:focus-visible {
	outline: 3px solid #c7d2fe; /* Light indigo */
	outline-offset: 2px;
}
